body {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pexels-anntarazevich-6712383.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 350px;
    border-radius: 20px;
    border: 3px #faabb8 solid;
}

.feedback-form:hover,
.feedback-form:focus {
    border: 3px #ff69b4 solid;
}
input {
    width: 250px;
    border-radius: 10px;
    border: 3px #ffc0cb solid;
}

input:hover,
input:focus {
    border: 3px #ff69b4 solid;
}

textarea {
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px #ffc0cb solid;
}
textarea:hover,
textarea:focus {
    border: 3px #ff69b4 solid;
}

.label-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.button-form {
    display: block;
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #ffc0cb;
    border-radius: 30px;
    border: #ffc0cb;
}

.button-margin {
    margin-bottom: 20px;
}

.button-form:hover {
    background-color: #ff69b4;
}
